<ul class="nav navbar-nav navbar-left">
  <li>
    <a href="{{ stache.config.portal }}">
      Home
    </a>
  </li>
  <li class="dropdown">
    <a href="{{ stache.config.guide_getting_started }}">
      Documentation
      <span class="caret"></span>
    </a>
  </li>
  <li class="dropdown">
    <a href="{{ stache.config.portal_endpoints }}">
      API
      <span class="caret"></span>
    </a>
  </li>
  <li class="dropdown">
    <a href="{{ stache.config.portal_profile }}">
      Developer Account
      <span class="caret"></span>
    </a>
  </li>
  <li class="dropdown">
    <a href="{{ stache.config.support_changelog }}">
      Support
      <span class="caret"></span>
    </a>
  </li>
  <li class="terms">
    <a href="{{ stache.config.terms_of_use_url }}">
      API Terms of Use
    </a>
  </li>
</ul>
