<ul class="nav navbar-nav navbar-left">
  <li>
    <a href="{{ stache.config.portal }}">
      Home
    </a>
  </li>
  <li class="dropdown">
    <a href="{{ stache.config.guide_getting_started }}" class="dropdown-toggle">
      Documentation
      <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
      <li>
        <a href="{{ stache.config.guide_getting_started }}">Getting Started</a>
      </li>
<li>
        <a href="{{ stache.config.guide_create_app }}">Create an App</a>
      </li>
      <li>
        <a href="{{ stache.config.guide_web_api_authorization }}">Authorization</a>
      </li>
      <li>
        <a href="{{ stache.config.guide_basics }}">Basics</a>
      </li>
      <li>
       <a href="{{ stache.config.guide_code }}">Code Samples</a>
      </li>
    </ul>
  </li>
  <li class="dropdown">
    <a href="{{ stache.config.portal_endpoints }}" class="dropdown-toggle">
      API
      <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
      <li>
        <a href="{{ stache.config.portal_endpoints }}">Endpoint Reference</a>
      </li>
      <li>
        <a href="{{ stache.config.entity_reference }}">Entity Reference</a>
      </li>
      <li>
        <a href="{{ stache.config.portal_products }}">Products</a>
      </li>
    </ul>
  </li>
  <li class="dropdown">
    <a href="{{ stache.config.portal_profile }}" class="dropdown-toggle">
      Developer Account
      <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
      <li>
        <a href="{{ stache.config.portal_profile }}">My Profile</a>
      </li>
      <li>
        <a href="{{ stache.config.developer_app_management_url }}">My Applications</a>
      </li>
      <li>
        <a href="{{ stache.config.portal_analytics }}">Analytics</a>
      </li>
    </ul>
  </li>
  <li class="dropdown">
    <a href="{{ stache.config.support_changelog }}" class="dropdown-toggle">
      Support
      <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
       <li>
        <a href="{{ stache.config.support_community }}">Community</a>
      </li>  
      <li>
        <a href="{{ stache.config.support_changelog }}">Changelog</a>
      </li>
       <li>
        <a href="{{ stache.config.support_issues }}">Issues</a>
      </li>
      <li>
        <a href="{{ stache.config.support_ideas }}">Ideas</a>
      </li>
      <li>
        <a href="{{ stache.config.support_faq }}">FAQ</a>
      </li>
      <li>
        <a href="{{ stache.config.support_status }}">Status</a>
      </li>
    </ul>
  </li>
</ul>
